/* .swal-popup {
    z-index: 13300 !important;
    /*Điều chỉnh giá trị để đảm bảo popup luôn ở trên modal
} */

*/ .featureCell {
    margin-top: 5px;
    margin-bottom: 5px !important;
}

.swal2-container {
    z-index: 1900 !important;
}