/* HOME PAGE*/
.container{
    width: 100% ;
    
}
#header{
    
    background-color: rgb(205, 244, 205);
}
#category{
    align-items: center;
    padding-left: 5%;
    font-size: 22px;
}
.type-category{
    margin-right: 5%;
}
.logo-home{
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 3%;
    padding-right: 5%;
}
#logo-img{
    border-radius: 50%;
}
#user-icon, #cart-icon {
    font-size: 30px;
    display: flex;
    align-items: center;
    border: none;
    background: none;
}
#user-icon-area{
    display: flex;
    align-items: center;
}
#cart-icon {
    font-size: 30px;
    display: flex;
    align-items: center;
}
.carousel{
    width: 100%;
}
.img-carousel{
    height:450px;
    width: 100%;
}
#carousel-home{
    padding-top: 1%;
}
#quote-plant{
    text-align: center;
    font-size: 20px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(50, 82, 51);
}
.takecare-area{
    width: 22%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 218, 166);
    margin-right: 2%;
}

#takecare{

    padding-left: 9%;
    margin-bottom: 5%;
}
.takecare-feature{
    text-align: center;
    margin-top: 7%;
    font-family:  monospace;
}
.takecare-content{
    text-align: center;
    font-family:  monospace;
    font-size: 16px;
}

#gardener{
    box-shadow: 5px 5px rgb(217, 216, 216);
}

.gardener-img{
    width: 100%;
    padding-top: 1%;

}
.introduction-area{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
}
#introduce1{
    padding-right: 3%;
    padding-top: 10%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(88, 137, 88);
    font-weight: bold;
    margin-left: 5%;
}

#introduce2{
    padding-right: 3%;
    padding-top: 5%;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(88, 137, 88);
    margin-left: 5%;
}

.thepoor-img{
    width: 100%;
    padding-top: 1%;
    padding-right: 1%;
}

#introduce3{
    padding-right: 2%;
    padding-left: 5%;
    padding-top: 15%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(88, 137, 88);
    font-weight: bold;
}
#introduce4{
    padding-right: 2%;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(88, 137, 88);
}

.footer{
    padding-top: 5%;
    padding-left: 10%;
}
.footer-content{

    padding-right: 15%;
}
#about-us, #contact , #quicklink{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.counter-area{
    display: flex;
    flex-wrap: wrap;
}
#number-counter{
    padding-left: 20%;
    margin-top: 5%;
    background-color: rgb(205, 244, 205);
    position: relative;
    padding-top: 3%;
    padding-bottom: 3%;
}
#count-people, #count-plants , #count-money{
    font-size: 24px;
    font-weight: 700;
    padding-left: 3%;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2%;
}
#copyright-area{
    padding-left: 40%;
    
    text-align: center;
}

